body {visibility:hidden;}

#page h1,
#video,
#start,
#controls,
#slot-wrapper,
#slot,
.countdown {
  display:none;
}

#filmroll {visibility:visible; text-align: center; margin: auto;}

#filmroll h4 { font-family:"Times New Roman",Georgia,Serif; }